{{#each option}}
<div class="option" id={{id}} data-id="slider">
    <div class="option--content">
        <h6 id="sub--description">{{subtitle}}</h6>
        <br>
        <br>
        <h5>{{title}}</h5>
        <p>
            {{description}}
            <br>
            <br>
        </p>
        <p id="bold">Check out some examples!</p>
        <div class="example__link">
            <a href={{exampleone}}>Example A</a>
            <a href={{exampletwo}}>Example B</a>
        </div>
        {{!-- <svg class="option__icon">
            <use xlink:href="/img/sprite2.svg#icon-document"></use>
        </svg> --}}
    </div>
</div>
{{/each}}